.slider {
  position: relative;
  padding-bottom: 54px;

  // Mobile
  @media (max-width: 899px) {
    padding-bottom: 50px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    padding-bottom: 45px;
  }
}

.slider__arrow {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f5f5f5;

  transition: background-color 0.2s ease-in;

  .slider__arrow-svg {
    stroke: #00c470;
  }

  &:hover {
    background-color: #00c470;

    .slider__arrow-svg {
      stroke: #fff;
    }
  }

  &--left {
    top: 53px;
    left: -48px;

    transform: translate(-100%);

    // Tablet
    @media (max-width: 1199px) {
      left: -20px;
    }

    // Mobile
    @media (max-width: 899px) {
      top: 64px;
      left: -40px;
    }
  }

  &--right {
    top: 53px;
    right: -48px;

    transform: translate(100%);

    // Tablet
    @media (max-width: 1199px) {
      right: -20px;
    }

    // Mobile
    @media (max-width: 899px) {
      top: 64px;
      right: -40px;
    }
  }

  & path {
    transition: 0.2s ease-in;
  }

  &:hover {
    background-color: #00c470;
  }

  &:hover path {
    stroke: white;
  }

  // Mobile XS
  @media (max-width: 599px) {
    display: none;
  }
}

.slider__pagination {
  position: absolute;
  display: flex;
  column-gap: 10px;

  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #e1e1e1;

  &--active {
    background-color: #00c470;
  }
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  color: #000;

  & p + p {
    margin-top: 1em;
  }

  // Tablet
  @media (max-width: 1199px) {
    line-height: 1.5;
  }

  // Mobile
  @media (max-width: 899px) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 16px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__author {
  display: flex;
  align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 73px;
  border-radius: 50%;
  overflow: hidden;

  // Mobile XS
  @media (max-width: 599px) {
    width: 65px;
    height: 60px;
  }
}

.slider-item__author-desc {
  font-size: 16px;
  font-weight: 500;

  & > * + * {
    margin-top: 5px;
  }

  // Mobile XS
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

.slider-item__author-title {
  color: #00c470;
  display: block;
}

.slider-item__author-name {
  color: #808080;
  display: block;
}
