$accentColor: #15D784;
$textColor: #2E2E2E;
$paragraphColor: #808080;

// Ширина и высота линии в иконке
$lineWidth: 20px;
$lineHeight: 3px;

// Расстояние между линиями
$innerMargin: 4px;

// Радиус скругления
$radiusIcon: 2px;

// Цвет иконки
$colorIcon: #000;

// Размеры контейнера
// $width: $lineWidth;
// $height: $lineHeight * 3 + $innerMargin * 2;
$width: 60px;
$height: 60px;



